<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link href="css/style.css" rel="stylesheet" />
        
        <script src="lib/jquery-1.9.1.min.js"></script>
        <script src="lib/underscore-1.4.4.min.js"></script>
        <script src="lib/backbone-1.0.0.min.js"></script>
         
        
        <script src="js/main3.js"></script>
        
        
    </head>
    <body>
        
        <script id='bookTemplate' type='text/template'>
    <h3 class="title"><%= title %></h3>
    <div class="description">
	<p class="release-date"><%= previewText %></p>
	<p><%= previewText %></p>					
    </div>
</script>
        
        
    </body>
</html>
